.card {
	position: relative;
	height: 16rem;
	width: 18rem;
	transition: 0.5s;
	overflow: hidden;
	margin: auto;
	font-family: $font-family;
	cursor: pointer;
	color: $font-primary;
	border: 3px dashed $bg-secondary;

	@include sm {
		width: 25rem;
	}

	@include md {
		width: 22rem;
	}

	@include bg {
		width: 25rem;
	}

	&__body {
		position: absolute;
		top: 0.4rem;
		left: 0.4rem;
		right: 0.4rem;
		bottom: 0.4rem;
		background: transparent;
		border-radius: $radius;
		display: flex;
		justify-content: center;
		transition: 0.5s;
		flex-grow: 1;
		flex-direction: column;
	}

	&:hover {
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
		pointer-events: auto;

		button {
			opacity: 0.25;
			transform: scale(7);
			pointer-events: auto;
		}
	}

	&__name {
		font-size: 3rem;
		line-height: normal;
		margin: 1rem;
		text-decoration: underline;
		color: $font-dark;
	}

	&__info {
		font-size: 2rem;
		margin: 3.5rem 1rem 1rem 1rem;
		display: flex;
		justify-content: space-between;

		&__birthday {
			margin-right: 0.8rem;
		}
	}

	button {
		position: absolute;
		width: 2rem;
		height: 2rem;
		background-color: $bg-dark;
		opacity: 0;
		border: none;
		border-radius: 2rem;
		outline: none;
		transition: all 0.3s ease;
		mix-blend-mode: hard-light;
		cursor: pointer;
	}
}
