@import url("https://fonts.googleapis.com/css2?family=Gelasio&display=swap");
@import "./variables";

// Components
@import "../components/Card/card.scss";
@import "../components/PageLoader/page-loader.scss";
@import "../components/Spinner/spinner.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Gelasio", serif;
	color: $font-primary;
	background: $bg;
}

// index

.title {
	margin-bottom: 2rem;
	line-height: 1.15;
	font-size: 4rem;
	text-align: center;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	&__logo {
		height: 1em;
		margin-left: 0.5rem;
	}
}

.wrapper {
	padding: 2rem 0;
	margin: 2rem;
}

.error-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;

	div {
		display: flex;
		align-items: center;
	}
}

.cards-wrapper {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
	justify-content: center;
}

.load_more_btn {
	button {
		background-color: $btn;
		border-radius: $btn-radius;
		border: 2px solid $clr-gray700;
		font-family: inherit;
		font-size: 1rem;
		font-weight: bold;
		color: $bg;
		width: 10rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-top: 2.5rem;
		cursor: pointer;

		&:hover {
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
		}
	}
}

.error {
	color: $font-tertiary;
	text-align: center;
	padding: 1rem;

	button {
		background-color: $btn;
		border-radius: $btn-radius;
		border: 2px solid $clr-gray700;
		font-family: inherit;
		font-size: 1rem;
		font-weight: bold;
		color: $bg;
		width: 6rem;
		margin-left: 0.5rem;

		cursor: pointer;

		&:hover {
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
		}
	}
}

// people

.details {
	&__wrapper {
		padding: 2rem;
	}

	&__back {
		cursor: pointer;
	}

	&__main {
		margin: 2rem;
	}

	&__name {
		p {
			font-size: 2.4rem;
			line-height: normal;
			margin-top: 1rem;
		}
	}

	&__body {
		background-image: repeating-linear-gradient(
			-35deg,
			$bg-light,
			$bg-light 2px,
			rgba(255, 255, 255, 0.75) 0,
			rgba(255, 255, 255, 0.75) 5px
		);
		box-shadow: 0 0 10px 5px $clr-gray300;
		border-radius: $radius;
		color: $clr-bold;
		font-weight: bold;
		display: grid;
		margin-top: 2.5rem;
		gap: 1rem;
		grid-template-columns: 1fr;
		justify-content: center;
		padding: 2rem;

		span {
			text-transform: capitalize;
		}
	}

	&__films {
		margin-top: 2rem;

		&__title {
			color: $font-tertiary;
			font-weight: bold;
			font-size: 1.8rem;
		}

		&__list {
			margin-top: 2rem;

			p {
				&::before {
					content: "-";
					padding-right: 0.5rem;
				}
			}
		}
	}
}

@media screen and (min-width: 600px) {
	.cards-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.details {
		&__body {
			grid-template-columns: repeat(2, 1fr);

			p {
				min-height: 2.4rem;
			}
		}
	}
}

@media screen and (min-width: 900px) {
	.cards-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

	.details {
		&__body {
			grid-template-columns: repeat(3, 1fr);
		}
		&__back {
			&::after {
				color: $font-secondary;
				content: "back to main list";
				text-decoration: underline;
				position: relative;
				top: -0.5rem;
				font-size: 1.2rem;
				padding-left: 0.8rem;
			}
		}
	}
}
