/*   color variables */
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

$shadow-100: rgba(0, 0, 0, 0.1);
$shadow-150: rgba(0, 0, 0, 0.2);
$shadow-200: rgba(0, 0, 0, 0.3);
$shadow-300: rgba(0, 0, 0, 0.4);
$shadow-400: rgba(0, 0, 0, 0.5);
$shadow-500: rgba(0, 0, 0, 0.6);
$shadow-600: rgba(0, 0, 0, 0.7);
$shadow-700: rgba(0, 0, 0, 0.8);

$orange: #da4d1d;

$bg: #fff1e6;
$bg-dark: #ebcfbd77;
$bg-secondary: #6d503f;
$bg-light: #e0ebc7;

$radius: 0.5rem;
$btn-radius: 0.8rem;

$dist: 0.5rem;

$font-primary: #574837;
$font-light: #5e503f;
$font-dark: #41321f;
$font-darker: #1d160d;

$font-family: "VT323", monospace;

$font-secondary: #a8ba4f;
$font-secondary-light: #94b49f;
$font-secondary-dark: #bd3e6a;
$font-secondary-darker: #a61e4d;

$btn: #82c91e;

$max: 20;

$mobile: 768px;
$medium: 900px;
$big: 1200px;

:root {
	--clr1: #ffe7bf;
	--clr2: #efcec5;
	--clr3: #d1af94;

	--clr4: #97d5e0;
	--clr5: #c4dfaa;
	--clr6: #ff869e;
	--clr7: #ffc4c4;
	--clr8: #5587a2;
	--clr9: #7d9d9c;

	--clr10: #e4dccf;
	--clr11: #fcc5c0;
	--clr12: #92b6d5;
	--clr13: #838487;
	--clr14: #b93a32;
	--clr15: #af9483;
	--clr16: #e4dccf;
	--clr17: #d3ebcd;
	--clr18: #d8ae47;
	--clr19: #937dc2;
	--clr20: #fff9d7;
}
